
<div id="around" class="col-md-3">
  <h4>Playlist</h4>
  <ul id="around-list"></ul>
</div>

<script type="text/template" id="around-content-template">
  <li class="around-content" data-playorder="<%%- play_order %>">
    <%%- title %>
    <span class="glyphicon glyphicon-remove remove"></span>
  </li>
</script>

<div id="main" class="col-md-6">
  <div id="player"></div>

  <div id="control">
    <input type="button" value="next" onclick="playNextContent();">
    <input type="button" value="prev" onclick="playPrevContent();">

    <input type="text" id="newContentUrl" value="">
    <input type="button" id="addByUrl" value="add">

    <input type="button" value="reset" onclick="reset();">
  </div>
</div>

<div id="related" class="col-md-3">
  <h4>Related</h4>
  <ul id="related-list"></ul>
</div>

<script type="text/template" id="related-content-template">
  <li class="related-content" data-videoid="<%%- video_id %>">
    <img src="<%%- image_url %>" />
    <p class="title"><%%- title %></p>
  </li>
</script>