@import "bootstrap";
@import "compass";

$jpn_green: #90e27f;

html, body { height:100%; margin:0; }

body {

  padding-top: 52px;
}

nav {
  margin-top: -52px;
  margin-bottom: 0;
}

.container-fluid {
  height: 92%;
}

#around {

  height:100%;
  overflow: scroll;

}

#around-list {
  padding:0;
  margin: 0;
  height:100%;


  li.around-content {
    list-style-type: none;
    font-size: small;
    padding: 3px;
    @include border-radius(10px);
    border: 1px solid black;
    margin: 3px 0;
  }

  li.current {
    background-color: $jpn_green;
  }
}

#right {

  height:100%;
  // overflow: scroll;

  .search-form {
    input, button{
      width:auto;
      float: left;
    }
  }

  .nav-tabs{
    padding-top: 10px;
    clear: both;
  }

  .tab-pane {

    ul {
    padding-left: 0px;

      li {

        padding: 5px 0;
        list-style-type: none;
        font-size: small;
        clear: both;

        img {
          float: left;
        }

        p {
          float: left;
          width: 150px;
        }
      }
    }
  }

  .tab-content {

    height: 90%;
    overflow: scroll;

    div {
      height: 100%;

      ul {
        height: 100%;
      }
    }
  }

}